
@import '../variables.css';

:root {
  --brand-color: #fff;
}

.Header {
  background: #000;
  color: #fff;
}

.Header-container {
  margin: 0 auto;
  padding: 5px 0;
}

.Header-brand {
  color: color(var(--brand-color) lightness(+10%));
  text-decoration: none;
  font-size: 1.75em; /* ~28px */
}

.Header-brandTxt {
  margin-left: 10px;
}

.Header-nav {
  float: right;
  margin-top: 6px;
}
